/* Dark Section Cards (Bottom Section) */
.bg-dark-blue .card.h-100 {
  background-color: #e2e2e2; /* darker white for dark section */
  color: #000; /* enforce black text */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bg-dark-blue .card.h-100:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}

/* Feature text inside dark section cards */
.dark-section .feature-title {
  color: #0a0a0a;
  font-size: larger;
}
.fw{
font-size: 1.5rem;
 font-Family: Garet;
font-weight: 550;
}
.text{
font-size: 1rem;
font-Family: Garet;
font-weight: 500;
}

.feature-title{
font-size: 1.5rem;
font-Family: Garet;
font-weight: 550;
}
.feature-text{
font-size: 1rem;
font-Family: Garet;
font-weight: 500;
}
.row g-4{
  font-weight: 500;
}

.dark-section .feature-text {
  color: #1a1a1a;
  font-size: 1rem;
font-Family: Garet;
font-weight: 500;
}
.dark-section .feature-title {
  color: #1a1a1a;
  font-size: 1.5rem;
  font-Family: Garet;
font-weight: 550;
}
/* For card body text (light section) */
.card-body.text-center {
  background-color: #f7f6ec; /* match card background */
}
.uniform-image-style {
  height: 220px;
  object-fit: cover;
  filter: brightness(0.95) contrast(1.05);
}